* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100vw;
  height: 100vh;
  border-collapse: collapse;
  border: 2px solid black;
}

td {
  border: 2px solid black;
}

.cell-1 {
  height: 25%;
  color: white;
  background-color: blue;
}

.cell-2 {
  width: 16.66%;
  background-color: rgb(255, 225, 20);
}

.cell-3 {
  height: 25%;
  color: white;
  background-color: blue;
}

.cell-4 {
  color: black;
}

.cell-white {
  width: 8.33%;
}
